:root {
    --color-blue-900: hsl(233, 54%, 16%);
    --color-blue-600: hsl(234, 25%, 52%);
    --color-pink-600: hsl(341, 92%, 62%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1,
h2,
h3 {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
